$lightGrey:rgb(230,230,230);
$middleLightGrey:rgb(200,200,200);
$middleGrey:rgb(150,150,150);
$middleDarkGrey:rgb(100,100,100);
$darkGrey:rgb(50,50,50);
$middleYellow:#FBB03B;
$middleDarkYellow:#F7931E;
$middleBlue:#3873f3;
$middleDarkBlue:#0f56c0;

/*************************************************************************************************************Configuration de base*/

html *{
    margin:0px;
    padding:0px;
    font-size:12pt;
    font-family:"Arial", sans-serif;
    font-weight:500;
    color:$darkGrey;
    list-style-type:none;
    text-decoration:none;
}

body{
    width:100%;
}

/**************************************************************************Header, Sections et Footer*/

header, section, footer{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    background-color: $lightGrey;
}

/**************************************************************************Titres et sous-titres*/

h1, h2, h3, h4, h5, h6{
    font-weight:700;
}

/**************************************************************************Header*/

header {
    background-color:$darkGrey;
    background-image: url('/img/headerPattern.png');
    padding:10px 0 10px 0;
    width:100%;
    display:flex;
    flex:row nowrap;
    justify-content: center;
    border-bottom:2px solid $middleGrey;
    box-shadow:0px 5px 10px $middleLightGrey;

    .content{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:60%;
    }
}

.mainLogo{
    background-color: white;
    border-radius:10px;
    padding:10px 10px 10px 5px;
    width:200px;
    
    &:hover{
        filter:contrast(60%) brightness(120%);
    }
}

.mainMenu{
    display:flex;
    flex:row nowrap;
    justify-content:center;
    align-items: center;

    li{
        margin:0 10px 0 10px;
    }
}

/*************************************************************************Sections*/

section{
    background-color: white;
    box-shadow: 0px 0px white;
    text-align:center;
    //margin-top:120px;
    margin-bottom:80px;
}

.pageTitle{
    margin-top:50px;
    background-color: white;
    box-shadow: 0px 0px white;
    
    h1{
        font-size:32pt;
        width:70%;
        text-align: center;
        color:$middleDarkGrey;
        margin-left:auto;
        margin-right:auto;
        color:white;
        text-shadow:0px 0px 10px black;
    }

    img{
        width:12%;
        min-width:30px;
        margin-bottom:20px;
    }
}

.homeTitle{
    width:100%;
    background-image: url('/img/homeBanner.jpg');
    background-size: 100%;
    margin-top:0px;
    margin-bottom:40px;
    padding:110px 0 140px 0;
    background-repeat: no-repeat;
    background-position: top center;

    h1{
        opacity:0;
    }
}

.sectionTitle{
    margin:0 auto 80px auto;
    box-shadow: 0px 10px 20px $middleDarkGrey;
    border-radius: 60px;

    h2{
        border-radius: 60px;
        padding:15px 15px 15px 30px;
        text-align: left;
        font-size:24pt;
        color:white;
        text-shadow:2px 2px 5px black;
        background-image:url('/img/sectionTitlePattern.svg');
        animation: animation 80s linear infinite;
    }

    @keyframes animation {
        100%{
         background-position:0px -3000px;
       }
    }
}

.title-yellow{
    background-image: linear-gradient(#FBB03B, #F7931E);
    
    h2{
        filter:hue-rotate(0deg);
    }
}

.title-blue{
    background-image: linear-gradient($middleBlue, $middleDarkBlue);
    
    h2{
        filter:hue-rotate(180deg);
    }
}

/***********************************************************************************Vignettes*/

.thumb{
    display:flex;
    justify-content:space-evenly;
    //align-items:flex-start;
    align-items:stretch;
    width:70%;
    margin:0 auto 70px auto;

    >div{
        margin:0 10px 0 10px;
        width:23%;
        padding:20px;
        background-color: white;
        box-shadow: 0px 0px 5px $middleGrey;
        position:relative;
        border-radius:10px;
        transition:300ms;

        h3{
            font-size:16pt;
            margin-bottom:15px;
        }

        &:hover{
            transition:300ms;
            box-shadow: 0px 20px 30px $middleGrey;
        }
    }
}

.thumb-notes>div{
    p{
        text-align:justify;
    }

    a{
        position:absolute;
        display:block;
        width:100%;
        height:100%;
        z-index:9999;
        top:0;
        left:0;
    }
}

.thumbImage{
    width:80%;
    min-height:30px;
    margin-bottom:20px;
}

.starsLine{
    display:flex;
    flex:row nowrap;
    justify-content:space-evenly;
    align-items: center;

    img{
        width:15%;
        min-width:10px;
        margin:0 5px 0 5px;
    }
}

.lightStar:hover{
    filter:drop-shadow(0 0 5px $middleYellow);
}

.darkStar:hover{
    filter:drop-shadow(0 0 5px $middleGrey);
}

/************************************************************************************Tableaux*/

table{
    border-collapse: collapse;
    width:80%;
    margin-left:auto;
    margin-right:auto;

    th, td{
        padding:15px 10px 15px 10px;
    }

    th{
        font-weight:700;
        border-bottom:2px solid $middleDarkGrey;
    }

    td{
        border-bottom:1px solid $middleDarkGrey;
    }

    img{
        width:20px;
    }

    tr{
        &:hover{
            td{
                background-color: $lightGrey;
            }
        }
    }
}

.tableTextCell{
    text-align:left;
}

.tableEditCell a{
    margin:0 5px 0 5px;
}

#optionsImage:hover{
    cursor:pointer;
}

.tableRowLink{
    position:relative;

    a{
        position:absolute;
        display:block;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
}

/************************************************************************************Eléments cachés*/

.hidden{
    display:none;
    visibility:hidden;
}

/************************************************************************************Formulaires*/

form{
    text-align: left;
    width:70%;
    margin:0 auto 0 auto;

    div{
        margin-bottom:20px;
    }

    select{
        padding:10px;
        border-radius:6px;
    }
}

.textField{
    width:100%;
    border-radius:6px;
    padding:10px;
}

.is-invalid{
    border:1px solid red;
}

.errorMessage{
    margin:5px 0 5px 0;
    color:red;
}

/**************************************************************************************Boutons*/

a.button{
    width:100%;
    height:100%;
}

.button{
    padding:20px;
    border-radius:10px;
    color:white;
    font-weight:700;
    cursor:pointer;
}

.button-grey{
    background-color: $middleDarkGrey;
    background-image: linear-gradient($middleGrey, $middleDarkGrey);
    border:2px solid $middleGrey;

    &:hover{
        background-color: $middleGrey;
        background-image: linear-gradient($middleDarkGrey, $middleGrey);
        border:2px solid $lightGrey;
    }
}

.button-yellow{
    background-color: $middleYellow;
    background-image: linear-gradient($middleYellow, $middleDarkYellow);
    border:2px solid $middleDarkYellow;

    &:hover{
        background-color: $middleDarkYellow;
        background-image: linear-gradient($middleDarkYellow, $middleYellow);
        border:2px solid $middleYellow;
    }
}

.button-blue{
    background-color: $middleBlue;
    background-image: linear-gradient($middleBlue, $middleDarkBlue);
    border:2px solid $middleDarkBlue;

    &:hover{
        background-color: $middleDarkBlue;
        background-image: linear-gradient($middleDarkBlue, $middleBlue);
        border:2px solid $middleBlue;
    }
}

/**************************************************************************************Footer*/

footer{
    text-align:center;
    width:100%;
    padding:20px 0 20px 0;
}