$lightGrey:rgb(230,230,230);
$middleLightGrey:rgb(200,200,200);
$middleGrey:rgb(150,150,150);
$middleDarkGrey:rgb(100,100,100);
$darkGrey:rgb(50,50,50);
$middleYellow:#FBB03B;
$middleDarkYellow:#F7931E;
$middleRed:#f14c4c;
$middleDarkRed:#d32929;
$middleBlue:#3873f3;
$middleDarkBlue:#0f56c0;
$testColor:rgba(255,0,0,0.5);

/*************************************************************************************************************Configuration de base*/

html *{
    margin:0px;
    padding:0px;
    font-size:12pt;
    font-family:"Arial", sans-serif;
    font-weight:500;
    color:$darkGrey;
    list-style-type:none;
    text-decoration:none;
}

body{
    width:100%;
}

/**************************************************************************Header, Sections et Footer*/

header, section, footer{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

footer{
    background-color: $lightGrey;
}

/**************************************************************************Titres et sous-titres*/

h1, h2, h3, h4, h5, h6{
    font-weight:700;
}

/**************************************************************************Header*/

header {
    background-color:$darkGrey;
    background-image: url('/img/headerPattern.png');
    padding:10px 0 10px 0;
    width:100%;
    display:flex;
    flex:row nowrap;
    justify-content: center;
    border-bottom:2px solid $middleGrey;
    box-shadow:0px 5px 10px $middleLightGrey;

    .content{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:60%;
    }
}

.mainLogo{
    margin:10px 10px 10px 5px;
    width:220px;
    
    &:hover{
        filter:drop-shadow(0px 0px 10px black);
    }
}

.mainMenu{
    display:flex;
    flex:row nowrap;
    justify-content:center;
    align-items: center;

    li{
        margin:0 10px 0 10px;
    }
}

/*************************************************************************Sections*/

section{
    box-shadow: 0px 0px white;
    text-align:center;
    margin-bottom:80px;
}

.pageTitle{
    margin-top:50px;
    box-shadow: 0px 0px white;
    position:relative;
    
    a{
        position:absolute;
        top:0;
        left:20px;

        &::before{
            content:url('/img/arrow-left-green.png');
            margin-right:5px;
            filter:saturate(0%) brightness(50%);
            position:absolute;
            left:-15px;
        }

        &:hover{
            text-decoration: underline;
            
            &::before{
                animation: backArrow 300ms forwards;
            }
        }
    }

    h1{
        font-size:32pt;
        width:70%;
        text-align: center;
        color:$middleDarkGrey;
        margin-left:auto;
        margin-right:auto;
        color:$middleDarkGrey;
        //text-shadow:0px 0px 10px black;
    }

    img{
        width:12%;
        min-width:30px;
        margin-bottom:20px;
    }
}

@keyframes backArrow {
    100%{
        transform: translate(-15px, 0px);
    }
}

.homeTitle{
    width:100%;
    background-image: url('/img/homeBanner.jpg');
    background-size: 100%;
    margin-top:0px;
    margin-bottom:40px;
    padding:110px 0 140px 0;
    background-repeat: no-repeat;
    background-position: top center;

    h1{
        opacity:0;
    }
}

.sectionTitle{
    width:75%;
    margin:0 auto 80px auto;
    box-shadow: 0px 10px 20px $middleDarkGrey;
    border-radius: 60px;

    h2{
        border-radius: 60px;
        padding:15px 15px 15px 30px;
        text-align: left;
        font-size:24pt;
        color:white;
        text-shadow:2px 2px 5px black;
        background-image:url('/img/sectionTitlePattern.svg');
        animation: animation 80s linear infinite;
    }

    @keyframes animation {
        100%{
         background-position:0px -3000px;
       }
    }
}

.title-yellow{
    background-image: linear-gradient(#FBB03B, #F7931E);
    
    h2{
        filter:hue-rotate(0deg);
    }
}

.title-blue{
    background-image: linear-gradient($middleBlue, $middleDarkBlue);
    
    h2{
        filter:hue-rotate(180deg);
    }
}

.customContent{
    text-align: left;
}

/***********************************************************************************Vignettes*/

.thumb{
    display:flex;
    justify-content:space-evenly;
    align-items:stretch;
    width:85%;
    margin:0 auto 70px auto;

    >div{
        margin:0 10px 0 10px;
        width:23%;
        padding:20px;
        background-color: white;
        box-shadow: 0px 0px 5px $middleGrey;
        position:relative;
        border-radius:10px;
        transition:300ms;

        h3{
            font-size:16pt;
            margin-bottom:15px;
        }

        &:hover{
            transition:300ms;
            box-shadow: 0px 20px 30px $middleGrey;
        }
    }
}

.thumb-notes>div{
    p{
        text-align:justify;
    }

    a{
        position:absolute;
        display:block;
        width:100%;
        height:100%;
        z-index:9999;
        top:0;
        left:0;
    }
}

.thumbImage{
    width:80%;
    min-height:30px;
    margin-bottom:20px;
}

/*******************************************************************************Ligne d'étoiles*/

.starsLine{
    max-width:180px;
    display:flex;
    flex:row nowrap;
    justify-content:space-evenly;
    align-items: center;

    img{
        width:15%;
        min-width:10px;
        margin:0 5px 0 5px;
        transition:500ms;
    }

    &:hover{
        .lightStar{
            filter:drop-shadow(0 0 5px $middleYellow);
            transition:500ms;
        }
    }
}

.w-180{
    width:180px;
}

/************************************************************************************Tableaux*/

table{
    border-collapse: collapse;
    width:100%;
    margin-left:auto;
    margin-right:auto;

    th, td{
        padding:15px 10px 15px 10px;
    }

    th{
        font-weight:700;
        border-bottom:2px solid $middleDarkGrey;
    }

    td{
        border-bottom:1px solid $middleDarkGrey;
    }

    img{
        width:20px;
    }

    tr{
        &:hover{
            td{
                background-color: $lightGrey;
            }
        }
    }
}

.tableTextCell{
    text-align:left;
}

.tableEditCell a{
    margin:0 5px 0 5px;
}

.actionsImage:hover{
    cursor:pointer;
}

.tableRowLink{
    position:relative;

    a{
        position:absolute;
        display:block;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
}

/************************************************************************************Eléments cachés*/

.hidden{
    display:none;
    visibility:hidden;
}

/************************************************************************************Formulaires*/

form{
    text-align: left;
    width:70%;
    margin:0 auto 0 auto;

    div{
        margin-bottom:20px;
    }

    textarea{
        height:500px;
    }

    select{
        padding:10px;
        border-radius:6px;
        border:1px solid $middleLightGrey;
    }
}

.textField{
    width:100%;
    border-radius:6px;
    padding:10px;
    border:1px solid $middleLightGrey;
}

.is-invalid{
    border:1px solid red;
}

.errorMessage{
    margin:5px 0 5px 0;
    color:red;
}

.radioButtonSpacing{
    margin-right:10px;
}

.extraMarginBottom{
    margin-bottom:40px;
}

/**************************************************************************************Menus cachés*/

.actionsMenu{
    position:relative;

    ul{
        position:absolute;
        top:0;
        left:0;

        li{
            background-color:$middleLightGrey;

            a{
                display:block;
                padding:10px;
                margin:0px;
            }

            &:hover{
                background-color:$lightGrey;
            }
        }
    }
}

.deleteLink{
    padding:10px;

    &:hover{
        cursor:pointer;
    }
}

.deleteForm{
    position:fixed;
    z-index:9999;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(255,255,255,0.5);

    img{
        width:100px;
        margin-bottom:20px;
        filter:hue-rotate(-55deg);
    }

    >div{
        width:35%;
        margin:30vh auto 0 auto;
        background-color: $lightGrey;
        padding:20px;
        border:1px solid $middleGrey;
        text-align:center;
        border-radius: 6px;
        >p{
            margin-bottom:20px;
        }
    }

    form{
        display:flex;
        flex:row nowrap;
        justify-content: space-between;
        align-items: center;
        width:60%;
        max-width:360px;
        min-width:200px;
        margin:0 auto 0 auto;

        p{
            margin-right:10px;
        }
    }
}

/**************************************************************************************Boutons*/

a.button{
    width:100%;
    height:100%;
}

.button{
    padding:10px 20px 10px 20px;
    border-radius:10px;
    border:none;
    color:white;
    font-weight:700;
    cursor:pointer;
}

.button-grey{
    background-color: $middleDarkGrey;

    &:hover{
        background-color: $middleGrey;
    }
}

.button-yellow{
    background-color: $middleDarkYellow;


    &:hover{
        background-color: $middleYellow;
    }
}

.button-red{
    background-color: $middleDarkRed;

    &:hover{
        background-color: $middleRed;
    }
}

.button-blue{
    background-color: $middleDarkBlue;

    &:hover{
        background-color: $middleBlue;
    }
}

/**************************************************************************************Footer*/

footer{
    text-align:center;
    width:100%;
    padding:20px 0 20px 0;
}