@charset "UTF-8";

/*************************************************************************************************************Configuration de base*/

html * {
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  color: #323232;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100%;
}

/**************************************************************************Header, Sections et Footer*/

header,
section,
footer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #e6e6e6;
}

/**************************************************************************Titres et sous-titres*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/**************************************************************************Header*/

header {
  background-color: #323232;
  background-image: url("/img/headerPattern.png");
  padding: 10px 0 10px 0;
  width: 100%;
  display: flex;
  flex: row nowrap;
  justify-content: center;
  border-bottom: 2px solid #969696;
  box-shadow: 0px 5px 10px #c8c8c8;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.mainLogo {
  margin: 10px 10px 10px 5px;
  width: 220px;
}

.mainLogo:hover {
  filter: drop-shadow(0px 0px 10px black);
}

.mainMenu {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
}

.mainMenu li {
  margin: 0 10px 0 10px;
}

/*************************************************************************Sections*/

section {
  box-shadow: 0px 0px white;
  text-align: center;
  margin-bottom: 80px;
}

.pageTitle {
  margin-top: 50px;
  box-shadow: 0px 0px white;
  position: relative;
}

.pageTitle a {
  position: absolute;
  top: 0;
  left: 20px;
}

.pageTitle a::before {
  content: url("/img/arrow-left-green.png");
  margin-right: 5px;
  filter: saturate(0%) brightness(50%);
  position: absolute;
  left: -15px;
}

.pageTitle a:hover {
  text-decoration: underline;
}

.pageTitle a:hover::before {
  -webkit-animation: backArrow 300ms forwards;
          animation: backArrow 300ms forwards;
}

.pageTitle h1 {
  font-size: 32pt;
  width: 70%;
  text-align: center;
  color: #646464;
  margin-left: auto;
  margin-right: auto;
  color: #646464;
}

.pageTitle img {
  width: 12%;
  min-width: 30px;
  margin-bottom: 20px;
}

@-webkit-keyframes backArrow {
  100% {
    transform: translate(-15px, 0px);
  }
}

@keyframes backArrow {
  100% {
    transform: translate(-15px, 0px);
  }
}

.homeTitle {
  width: 100%;
  background-image: url("/img/homeBanner.jpg");
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 110px 0 140px 0;
  background-repeat: no-repeat;
  background-position: top center;
}

.homeTitle h1 {
  opacity: 0;
}

.sectionTitle {
  width: 75%;
  margin: 0 auto 80px auto;
  box-shadow: 0px 10px 20px #646464;
  border-radius: 60px;
}

.sectionTitle h2 {
  border-radius: 60px;
  padding: 15px 15px 15px 30px;
  text-align: left;
  font-size: 24pt;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-image: url("/img/sectionTitlePattern.svg");
  -webkit-animation: animation 80s linear infinite;
          animation: animation 80s linear infinite;
}

@-webkit-keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

.title-yellow {
  background-image: linear-gradient(#FBB03B, #F7931E);
}

.title-yellow h2 {
  filter: hue-rotate(0deg);
}

.title-blue {
  background-image: linear-gradient(#3873f3, #0f56c0);
}

.title-blue h2 {
  filter: hue-rotate(180deg);
}

.customContent {
  text-align: left;
}

/***********************************************************************************Vignettes*/

.thumb {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 85%;
  margin: 0 auto 70px auto;
}

.thumb > div {
  margin: 0 10px 0 10px;
  width: 23%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px #969696;
  position: relative;
  border-radius: 10px;
  transition: 300ms;
}

.thumb > div h3 {
  font-size: 16pt;
  margin-bottom: 15px;
}

.thumb > div:hover {
  transition: 300ms;
  box-shadow: 0px 20px 30px #969696;
}

.thumb-notes > div p {
  text-align: justify;
}

.thumb-notes > div a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.thumbImage {
  width: 80%;
  min-height: 30px;
  margin-bottom: 20px;
}

/*******************************************************************************Ligne d'étoiles*/

.starsLine {
  max-width: 180px;
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.starsLine img {
  width: 15%;
  min-width: 10px;
  margin: 0 5px 0 5px;
  transition: 500ms;
}

.starsLine:hover .lightStar {
  filter: drop-shadow(0 0 5px #FBB03B);
  transition: 500ms;
}

.w-180 {
  width: 180px;
}

/************************************************************************************Tableaux*/

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table th,
table td {
  padding: 15px 10px 15px 10px;
}

table th {
  font-weight: 700;
  border-bottom: 2px solid #646464;
}

table td {
  border-bottom: 1px solid #646464;
}

table img {
  width: 20px;
}

table tr:hover td {
  background-color: #e6e6e6;
}

.tableTextCell {
  text-align: left;
}

.tableEditCell a {
  margin: 0 5px 0 5px;
}

.actionsImage:hover {
  cursor: pointer;
}

.tableRowLink {
  position: relative;
}

.tableRowLink a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/************************************************************************************Eléments cachés*/

.hidden {
  display: none;
  visibility: hidden;
}

/************************************************************************************Formulaires*/

form {
  text-align: left;
  width: 70%;
  margin: 0 auto 0 auto;
}

form div {
  margin-bottom: 20px;
}

form textarea {
  height: 500px;
}

form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
}

.textField {
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #c8c8c8;
}

.is-invalid {
  border: 1px solid red;
}

.errorMessage {
  margin: 5px 0 5px 0;
  color: red;
}

.radioButtonSpacing {
  margin-right: 10px;
}

.extraMarginBottom {
  margin-bottom: 40px;
}

/**************************************************************************************Menus cachés*/

.actionsMenu {
  position: relative;
}

.actionsMenu ul {
  position: absolute;
  top: 0;
  left: 0;
}

.actionsMenu ul li {
  background-color: #c8c8c8;
}

.actionsMenu ul li a {
  display: block;
  padding: 10px;
  margin: 0px;
}

.actionsMenu ul li:hover {
  background-color: #e6e6e6;
}

.deleteLink {
  padding: 10px;
}

.deleteLink:hover {
  cursor: pointer;
}

.deleteForm {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.deleteForm img {
  width: 100px;
  margin-bottom: 20px;
  filter: hue-rotate(-55deg);
}

.deleteForm > div {
  width: 35%;
  margin: 30vh auto 0 auto;
  background-color: #e6e6e6;
  padding: 20px;
  border: 1px solid #969696;
  text-align: center;
  border-radius: 6px;
}

.deleteForm > div > p {
  margin-bottom: 20px;
}

.deleteForm form {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 360px;
  min-width: 200px;
  margin: 0 auto 0 auto;
}

.deleteForm form p {
  margin-right: 10px;
}

/**************************************************************************************Boutons*/

a.button {
  width: 100%;
  height: 100%;
}

.button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.button-grey {
  background-color: #646464;
}

.button-grey:hover {
  background-color: #969696;
}

.button-yellow {
  background-color: #F7931E;
}

.button-yellow:hover {
  background-color: #FBB03B;
}

.button-red {
  background-color: #d32929;
}

.button-red:hover {
  background-color: #f14c4c;
}

.button-blue {
  background-color: #0f56c0;
}

.button-blue:hover {
  background-color: #3873f3;
}

/**************************************************************************************Footer*/

footer {
  text-align: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

