/*************************************************************************************************************Configuration de base*/

html * {
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  color: #323232;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100%;
}

/**************************************************************************Header, Sections et Footer*/

header,
section,
footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6e6;
}

/**************************************************************************Titres et sous-titres*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/**************************************************************************Header*/

header {
  background-color: #323232;
  background-image: url("/img/headerPattern.png");
  padding: 10px 0 10px 0;
  width: 100%;
  display: flex;
  flex: row nowrap;
  justify-content: center;
  border-bottom: 2px solid #969696;
  box-shadow: 0px 5px 10px #c8c8c8;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.mainLogo {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 5px;
  width: 200px;
}

.mainLogo:hover {
  filter: contrast(60%) brightness(120%);
}

.mainMenu {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
}

.mainMenu li {
  margin: 0 10px 0 10px;
}

/*************************************************************************Sections*/

section {
  background-color: white;
  box-shadow: 0px 0px white;
  text-align: center;
  margin-bottom: 120px;
}

.pageTitle {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 0px white;
}

.pageTitle h1 {
  font-size: 32pt;
  width: 70%;
  text-align: center;
  color: #646464;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.homeTitle {
  width: 100%;
  background-image: url("/img/homeBanner.jpg");
  background-size: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 110px 0 110px 0;
  background-repeat: no-repeat;
  background-position: top center;
}

.homeTitle h1 {
  opacity: 0;
}

.sectionTitle {
  margin: 0 auto 60px auto;
  box-shadow: 0px 10px 20px #646464;
  border-radius: 60px;
}

.sectionTitle h2 {
  border-radius: 60px;
  padding: 15px 15px 15px 30px;
  text-align: left;
  font-size: 24pt;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-image: url("/img/sectionTitlePattern.svg");
  -webkit-animation: animation 80s linear infinite;
          animation: animation 80s linear infinite;
}

@-webkit-keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

.title-yellow {
  background-image: linear-gradient(#FBB03B, #F7931E);
}

.title-yellow h2 {
  filter: hue-rotate(0deg);
}

.title-blue {
  background-image: linear-gradient(#3873f3, #0f56c0);
}

.title-blue h2 {
  filter: hue-rotate(180deg);
}

/***********************************************************************************Vignettes*/

.thumb {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 70%;
  margin: 0 auto 70px auto;
}

.thumb > div {
  margin: 0 10px 0 10px;
  width: 23%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px #969696;
  position: relative;
  border-radius: 10px;
  transition: 300ms;
}

.thumb > div h3 {
  font-size: 16pt;
  margin-bottom: 15px;
}

.thumb > div:hover {
  transition: 300ms;
  box-shadow: 0px 20px 30px #969696;
}

.thumb-notes > div p {
  text-align: justify;
}

.thumb-notes > div a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.thumbImage {
  width: 80%;
  min-height: 30px;
  margin-bottom: 20px;
}

.starsLine {
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.starsLine img {
  width: 15%;
  min-width: 10px;
  margin: 0 5px 0 5px;
}

.lightStar:hover {
  filter: drop-shadow(0 0 5px #FBB03B);
}

.darkStar:hover {
  filter: drop-shadow(0 0 5px #969696);
}

.is-invalid {
  border: 1px solid red;
}

.errorMessage {
  margin: 5px 0 5px 0;
  color: red;
}

/**************************************************************************************Boutons*/

.button {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.button-grey {
  background-color: #646464;
  background-image: linear-gradient(#969696, #646464);
  border: 2px solid #969696;
}

.button-grey:hover {
  background-color: #969696;
  background-image: linear-gradient(#646464, #969696);
  border: 2px solid #e6e6e6;
}

.button-yellow {
  background-color: #FBB03B;
  background-image: linear-gradient(#FBB03B, #F7931E);
  border: 2px solid #F7931E;
}

.button-yellow:hover {
  background-color: #F7931E;
  background-image: linear-gradient(#F7931E, #FBB03B);
  border: 2px solid #FBB03B;
}

.button-blue {
  background-color: #3873f3;
  background-image: linear-gradient(#3873f3, #0f56c0);
  border: 2px solid #0f56c0;
}

.button-blue:hover {
  background-color: #0f56c0;
  background-image: linear-gradient(#0f56c0, #3873f3);
  border: 2px solid #3873f3;
}

/**************************************************************************************Footer*/

footer {
  text-align: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

